.button {
  display: block;
  width: fit-content;
  height: 42px;
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 8px 30px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.accent:hover {
  background-color: #3e3ce5;
  scale: 1.1;
}

.accent {
  background-color: #312eb5;
}
