.journal-form {
  display: flex;
  flex-direction: column;
}

.journal-form__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.journal-form__icon {
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.1);
}

.journal-form__input {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 32px;
  width: 100%;
}

.journal-form__input:focus,
.journal-form__input:focus-visible {
  outline: none;
}

.journal-form__input--invalid {
  border: 1px solid red;
  background-color: rgba(255, 123, 123, 0.537);
}

.journal-form__field {
  display: grid;
  grid-template-columns: 30px 100px 1fr;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 15px;
  cursor: pointer;
}

.journal-form__field:last-of-type {
  padding-top: 15px;
  margin-bottom: 30px;
}

.journal-form__field-icon {
  width: 18px;
  height: 18px;
}

.journal-form__field-label {
  font-weight: 600;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  user-select: none;
}

.journal-form__field-input {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
}

.journal-form__field-input:focus,
.journal-form__field-input:focus-visible {
  outline: none;
}

.journal-form__field-input--invalid {
  border: 1px solid red;
  background-color: rgba(255, 123, 123, 0.537);
}

.journal-form__textarea {
  width: 100%;
  height: 420px;
  resize: none;
  margin-bottom: 30px;
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.journal-form__textarea:focus,
.journal-form__textarea:focus-visible {
  outline: none;
}

.journal-form__textarea--invalid {
  border: 1px solid red;
  background-color: rgba(255, 123, 123, 0.537);
}
